.daf-slide {
padding-top:30px;
padding-bottom:20px;
overflow-y:scroll;
height:100%;
}
#header_menu {
height:60px;
}
#titlebar {
height:42px;
margin-top:19px;
}
#menu_button {
height:50px;
}
#masechet_menu {
margin-top: -31px;
padding-top: 16px;
display: none;
}
button.menu_header {
margin-top:-20px;
margin-bottom:-9px;
font-size: 13px;
font-family: serif;
font-weight: bold;
}
#menuDiscover {
min-width: 370px;
display:none;
}
.buttons-group.small button, button.small {
line-height: 17px;
padding-top: 7px;
padding-bottom: 7px;
}
.pages-menu {
width:100%;
padding-left: 30px;
padding-right: 30px;
}
.page-but {
padding: 11px;
float: left;
width: 50px;s
}

