/*
    File: content_outline.css
    Created on : 15-Apr-2018, 10:43:48
    Includes CSS for indents used in the outline pages
IMPORTANT: for layout adjustments do not normally edit this file, as it is
common to a number of page styles. Instead modify the style sheet specific
to a particular page type.
*/

/*Clear defaults so padding and margins can be set as required*/
p { padding: 0 0 0 0; margin: 0 0 0 0; }

/******************************************************/

/*The content div between the header and the footer*/
#content {
    /*Includes selectors common to most tags*/
    font-family:Arial,sans-serif;
    font-size:1.0em;
    font-style:normal;
    font-weight:normal;
    text-align:justify;
    color:#000000;
    line-height:150%;
    margin:0 10% 0 10%;
}
#content a {
    color:blue;
    text-decoration:none;
}
#content a:link { }
#content a:visited { color:#FF0066; }
#content a:hover { text-decoration:underline; }
#content a:active { color:red; }

/******************************************************/

/*CSS common to numbers*/
.nm {
    display:inline-block;
    float:left;
    padding:0;
    margin-right:0;
    color:#000080;
}

/*CSS common to lower level text*/
.indent1 p, .indent2 p, .indent3 p {
    font-size:1.0em;
    margin-bottom:0.5em;
}

/*Common to both the subject number and text*/
/*The top margin of subject and firstsubject can be overridden so that spacing
between subjects can be set separately for spacing above the first subject*/
.subject, .firstsubject {
    margin-top:2.5em;
    margin-bottom:0.5em;
    text-transform: uppercase;
    font-weight:bold;
    color:#000080;
    font-size:1.2em;
    text-align:left;
}

/*INDENT RULE:
    .indentX .nm margin-left plus width should equal .indentX p margin-left*/

.subject .nm, .firstsubject nm { margin-left:0.0em; width:2.0em; }
.subject p, .firstsubject p { margin-left:2.0em; }

.indent1 .nm { margin-left:2.4em; width:1.6em; }
.indent1 p { margin-left:4.0em; }

.indent2 .nm { margin-left:4.0em; width:1.5em; }
.indent2 p { margin-left:5.5em; }

.indent3 .nm { margin-left:5.5em; width:1.5em; }
.indent3 p { margin-left:7.0em; }

/* For small screens indent1=subject and move other indents up*/
@media screen and (max-width:500px) {
    #content { margin-left:0.7em; margin-right:0.7em; }

    .indent1 .nm { margin-left:0.0em; width:2em; }
    .indent1 p { margin-left:2.0em; }

    .indent2 .nm { margin-left:2.4em; width:1.6em; }
    .indent2 p { margin-left:4.0em; }

    .indent3 .nm { margin-left:4.0em; width:1.5em; }
    .indent3 p { margin-left:5.5em; }
}

/******************************************************/

/*For emphasis in a span*/
.cl { font-weight:normal; color:#0066FF; }
/*For note material*/
.note  {
    font-family:Arial,sans-serif;
    font-style:italic;
    font-weight:normal;
    color:#000080;
}
/*To emphasise first phrase, use span. class=notewd is optional*/
.notewd, .note span  {
    text-transform:uppercase;
    font-weight:bold;
}

/******************************************************/

/*EOF*/
