.daf-slide {
	padding-top:30px;
	padding-bottom:20px;
	overflow-y:scroll;
	height:100%;
}
#header_menu {
height:60px;
}
#titlebar {
height:42px;
margin-top:19px;
}
#menu_button {
height:50px;
}
#masechet_menu {
margin-top: -31px;
padding-top: 16px;
display: none;
}
.buttons-group.row.pages-menu {
width: 444px;
margin: 0 auto;
}
button.menu_header {
margin-top:-20px;
margin-bottom:-9px;
font-size: 13px;
font-family: serif;
font-weight: bold;
}
#menuDiscover {
min-width: 370px;
display:none;
}
